.footer {
  padding: 0 4rem 3rem;
  position: relative;
  z-index: 9;
  width: 100%;
  background: #ffffff;
}
.footer:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 35rem;
  background: #f4f4f4;
}
.footer-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  padding-top: 35px;
}
.footer-contacts {
  padding: 1rem 0;
}
.footer-logo p {
  font-size: 13px;
  font-weight: 600;
  padding-top: 10px;
}
.contacts {
  margin-top: 45px;
}
.contacts a {
  margin-right: 16px;
}
.footer-links li {
  list-style: none;
  border-bottom: 1px solid #000;
  width: 185px;
  padding: 9px 0 9px 0;
}
.footer-links a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}
.footer-links a:hover {
  color: #7f7f7f;
}
.footer-countries {
  margin: 19px 0 0 1rem;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(4, 1fr);
  flex: 1;
  gap: 10px;
  justify-items: center;
}
.footer-countries h3 {
  font-size: 1.4rem;
  padding-bottom: 10px;
}
.footer-countries p {
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .footer:before {
    top: 52%;
    left: 0;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-countries {
    grid-template-columns: 1fr;
  }
  .footer-contacts,
  .footer-logo,
  .footer-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-links {
    margin-top: -1rem;
    width: 100%;
  }
  .footer-links li{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .footer-countries {
    display:flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 425px) {
  .footer:before {
    top: 48%;
    left: 0;
  }
}